* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #3a3a3a;
  --red-color: #e02c6d;
  font-family: Poppins;
}
header {
  padding: 6% 8.34%;
}
.btn-primary {
  border-radius: 41px;
  background: var(--red-color);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px 24px;
  border: 0;
  margin-left: -10px;
  margin-top: 20px;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
nav > h2 {
  color: var(--primary-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
nav > ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

nav > ul > li {
  list-style: none;
}
nav > ul > li > a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
nav div {
  display: none;
  color: var(--primary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.banner-con {
  display: flex;
  gap: 9%;
  padding-top: 50.2px;
}
.left-banner {
  padding-top: 95px;
  width: 50%;
}
.left-banner > h2 {
  color: var(--primary-color);
  font-size: 52px;
  font-weight: 700;
}
.left-banner > p {
  padding: 10px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
}
.right-banner {
  padding-bottom: 60px;
  width: 50%;
  background-image: url("images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-banner > img {
  width: 100%;
  max-width: 440px;
}

@media screen and (max-width: 576px) {
  header {
    padding: 3% 6%;
  }
  nav {
    justify-content: space-between;
  }
  nav > h2 {
    font-size: 16px;
  }

  nav > ul {
    display: none;
  }

  nav div {
    display: block;
  }
  .banner-con {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .left-banner {
    width: 100%;
    text-align: center;
    padding-top: 0;
  }
  .left-banner > h2 {
    font-size: 28px;
  }
  .right-banner {
    width: 100%;
  }
}
